.recipe {
  background-color: #ffffff;
  width: calc(100% - 300px);
}

.recipes {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.recipe {
  margin: 10px 0;
}
.recipe-title {
  color: #fca95c;
  height: 10vh;
  width: 60vw;
  min-height: 50px;
  min-width: 200px;
  font-size: 30px;
}

.recipe-content {
  color:#bbf8f8;
  font-size: 19px;
  height: 10vh;
  width: 60vw;
  min-height: 50px;
  min-width: 200px;
}

.recipe-material {
  background-color: goldenrod;
  font-size: 20px;
  padding-left: 10px;
  height: 10vh;
  width: 70vw;
  min-height: 50px;
  min-width: 200px;
  color: #ffffff;
  margin-bottom: 40px;
}




